.carousel .carousel-indicators button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
}
.carousel.slide{
    margin:3%;
    border-radius:50px;
}

/*.carousel .carousel-control-next-icon.changed {
    background-image: url("./arrow-right-solid.svg");
}*/